[Unit]
Description=Wyoming Satellite Service
After=network.target pulseaudio.service wyoming-setup.service wyoming-wakeword.service
Requires=wyoming-setup.service wyoming-wakeword.service

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin
Environment=PATH=/home/admin/.wyoming-satellite/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/wyoming/run-satellite.py
Restart=always
RestartSec=1
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target